/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hi_title {
   text-shadow: 0 1px 1px #4d4d4d;
   color: #222;
   font-size: 40px;
 }

 .mlogo {
   background: none;
   border: none;
   font-weight: 700;
   font-size: 30px;
   letter-spacing: 1.4px;
   color: #7cfc00;
   text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
 }

 .form-input {
   max-width: 50%;
 }

 .form-i-2 {
   margin-top: 50px;
 }

 .inputbox,
 .input-field {
   width: 100%;
 }

 .login-title {
   display: flex;
 }
